# Environment
.env
.env.*
!.env.local.example
!.env.example

# Next.js
.next/
out/

# Dependencies
node_modules/

# Build
dist/
build/

# Logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
